#btnStartNewCompetition {
    -fx-base:red;
    -fx-background-image: url("../Pictures/ico1-1.jpg");
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
}

#btnStartNewCompetition:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
